* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

/* Título da lista*/
#title {
    width: calc(50px + 50vw);
    height: calc(10px + 5vh);
    background-color: black;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(10px + 3vh);
    margin-bottom: 15px;
    border-radius: 3px;
}

/*Lista*/
#list {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

/* Tarefa */
.tarefa {
    width: calc(50px + 50vw);
    height: calc(4px + 6vh);
    padding-left: 10px;
    padding-right: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(190, 180, 245);
    margin-bottom: 10px;
    border-radius: 3px;
}

.tarefa p {
    max-width: 80ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*Botão de excluir tarefa*/
.exit {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    background-color: rgb(89, 68, 207);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.exit:hover {
    background-color: rgb(62, 45, 160);
}

/* Input*/
.digitar input {
    width: calc(50px + 50vw);
    height: calc(4px + 6vh);
    padding: 7px;
    border-color: rgb(62, 45, 160);
}

.digitar input:focus {
    outline: none;
    border-color: rgb(62, 45, 160);
}